[Unit]
Description=Server status bot
After=network.target

[Service]
Type=oneshot
WorkingDirectory=%h/server-status-bot
ExecStart=%h/server-status-bot/start_bot.sh
